<?xml version="1.0" encoding="utf-8" ?>
<!--OPSKWA: Orchestrated Predictive Signals with Knowledge-Weighted Analysis-->
<configuration>
	<appSettings>
		<add key="BinanceApiKey" value="your_api_key_here"/>
		<add key="BinanceApiSecret" value="your_api_secret_here"/>
		<add key="OllamaEndpoint" value="http://localhost:11434"/>
		<add key="DefaultCrypto" value="XRPUSDT"/>
		<add key="MarketFeedService.DefaultInterval" value="5"/> <!--Seconds-->
		<add key="LLMService.ModelName" value="mistral:7b-instruct"/>
		<add key="LLMCMDService.Commands" value="/help|/clearfeed|/clear|/clearlog|/setupdate"/>
		
		<!--SplashScreen-->
		<add key="SplashScreenDuration" value="1000"/><!--MilliSeconds-->
		<add key="ShowSplashScreen" value="true"/>
		
		<add key="SystemColor" value="206, 145, 120"/><!--Orangeish-->
		<add key="LLMColor" value="0, 255, 255"/><!--Redish:220, 100, 100-->
		<add key="DataFeedColor" value="171, 208, 82"/><!--Greenish-->
		<add key="UserColor" value="100, 149, 237"/><!--Blueish-->
	</appSettings>

	<connectionStrings>
		<add name="OpskwaDB"
             connectionString="Server=localhost;Database=OpskwaDB;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
