<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BinanceApiKey" value="your_api_key_here"/>
		<add key="BinanceApiSecret" value="your_api_secret_here"/>
		<add key="OllamaEndpoint" value="http://localhost:11434"/>
		<add key="DefaultCrypto" value="XRPUSDT"/>
		<add key="MarketFeedService.DefaultInterval" value="5"/> <!--Seconds-->
		<add key="LLMCMDService.Commands" value="/help|/clearfeed|/clearllm|/clearcmd|/clearlog|/setupdate"/>
	</appSettings>

	<connectionStrings>
		<add name="OpskwaDB"
             connectionString="Server=localhost;Database=OpskwaDB;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>